<% layout("/layouts/boilerplate") %>
<!-- <%= success %> -->
    <% if (q) { %>
        <h3 class="mb-4">Search Results for "<%= q %>"</h3>
        <% if (allListings.length === 0) { %>
            <div class="alert alert-info text-center py-4 my-4" role="alert">
                No listings found matching "<b><%= q %></b>". Try checking for spelling errors or searching other destinations.
            </div>
        <% } %>
    <% } %>
    <div class="row row-cols-lg-3 row-cols-mid-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){%>
            <a href="/listings/<%= listing._id%>" class="listing-link ">
                <div class="card col listing-card">
                    <img src="<%=listing.image.url %>" class="card-img-top" style="height: 20rem;" alt="listing-image">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%=listing.title%><br>
                            </b>
                            &#8377;<%= listing.price.toLocaleString("en-IN")%>/Night
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>